.cards-container {
    grid-template-areas: 
    "c1 c1 c2 c2 t t"
    ".  .  c3 c3 t t"
    ;

    > .card:nth-child(1) {
        grid-area: c1;
    }

    > .card:nth-child(2) {
        grid-area: c2;
    }

    > .card:nth-child(3) {
        grid-area: c3;
    }

    .teaser {
        grid-area: t;
    }

    // CARDS

    > .card {
        aspect-ratio: 1 /1;
        background-color: $clr3;
        color: $clr2;
        padding: 10%;
        display: grid;
        grid-template-rows: auto 1fr auto;

        .card-image {
            object-fit: contain;
            aspect-ratio: 1 / 0.7;
            align-self: center;
        }
        
    }
}