* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
    color: $clr2;
    line-height: 1.6;
}

body {
    margin: 0;
    background-image: url(~@/assets/images/cats-pattern-background_1425-90.jpg);
    background-size: 300px;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
    font-family: GreatVibes, serif;
    font-weight: 400;
}

h1 {
    font-size: em(46px);
}

p {
    margin: 0 0 1rem;
    max-width: 42ch;
}

img {
    width: 100%;
}