* {
    box-sizing: border-box;
}

html {
//    font-family: Montserrat; 
//    font-family: GreatVibes; 
   font-family: Bahnschrift, sans-serif; 
   color: $clr2;
   line-height: 1.8;
}

body {
    margin: 0;
    // background-image: url(~@/assets/images/seamless-cute-cats-pattern-with-2206818.jpg);
    background-size: 400px;
    // background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: GreatVibes;
    font-weight: 500;
    margin: 0 0 1rem;
}

h1 {
    font-size: rem(60px);
}

img {
    width: 100%;
}

p {
    margin: 0 0 1rem;
    max-width: 60ch;
}