* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
    line-height: 1.8;
    color: $clr2;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em;
    font-family: GreatVibes;
    font-weight: normal;
    line-height: 1.3;
}

h1 {
    font-size: em(66px, 16px);
}

p {
    margin: 0 0 1em;
    max-width: 54ch;
}

img {
    width: 100%;
}